<a href="https://colab.research.google.com/github/frankmulungi/Coursera-Test/blob/master/pandastest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd

# upload dataset
project = pd.read_csv('project_dataset.csv')

project.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [66]:
# this returns the bottom 5 data in the csv file

project.tail(5)

,name,author,narrator,time,releasedate,language,stars,price
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [67]:
# showing one column

project['author']

0        Writtenby:GeronimoStilton
1            Writtenby:RickRiordan
2             Writtenby:JeffKinney
3            Writtenby:RickRiordan
4            Writtenby:RickRiordan
                   ...
87484       Writtenby:ChrisStewart
87485      Writtenby:StephenO'Shea
87486          Writtenby:MarkTwain
87487     Writtenby:LaurenceSterne
87488      Writtenby:MarkKurlansky
Name: author, Length: 87489, dtype: object

In [68]:
# removing writtenby from column

project['author'] = project['author'].str.replace('Writtenby:', '')

In [69]:
# check to see that it's gone

project['author']

0        GeronimoStilton
1            RickRiordan
2             JeffKinney
3            RickRiordan
4            RickRiordan
              ...
87484       ChrisStewart
87485      StephenO'Shea
87486          MarkTwain
87487     LaurenceSterne
87488      MarkKurlansky
Name: author, Length: 87489, dtype: object

In [70]:
# add space to first and surname
project['author'] = project['author'].str.split(r'(?=[A-Z])').str.join(' ')

In [71]:
# now test it out to see that it's worked
project['author']

0         Geronimo Stilton
1             Rick Riordan
2              Jeff Kinney
3             Rick Riordan
4             Rick Riordan
               ...
87484        Chris Stewart
87485      Stephen O' Shea
87486           Mark Twain
87487      Laurence Sterne
87488       Mark Kurlansky
Name: author, Length: 87489, dtype: object

In [72]:
# show narrator column
project['narrator']

0            Narratedby:BillLobely
1         Narratedby:RobbieDaymond
2            Narratedby:DanRussell
3        Narratedby:SoneelaNankani
4        Narratedby:JesseBernstein
                   ...
87484      Narratedby:ChrisStewart
87485        Narratedby:RobertFass
87486         Narratedby:FloGibson
87487       Narratedby:AntonLesser
87488       Narratedby:FleetCooper
Name: narrator, Length: 87489, dtype: object

In [73]:
# clean narrator column as I did the author column

project['narrator'] = project['narrator'].str.replace('Narratedby:', '')

project['narrator'] = project['narrator'].str.split(r'(?=[A-Z])').str.join(' ')

In [74]:
# test output after previous steps
project['narrator']

0             Bill Lobely
1          Robbie Daymond
2             Dan Russell
3         Soneela Nankani
4         Jesse Bernstein
               ...
87484       Chris Stewart
87485         Robert Fass
87486          Flo Gibson
87487        Anton Lesser
87488        Fleet Cooper
Name: narrator, Length: 87489, dtype: object

In [77]:
# cleaning the date format
project['releasedate'] = pd.to_datetime(project['releasedate'], format='%d-%m-%y')

In [78]:
# check releasedate DATE has changed

project['releasedate']

0       2008-04-08
1       2018-01-05
2       2020-06-11
3       2021-05-10
4       2010-01-13
           ...
87484   2017-09-03
87485   2017-02-21
87486   2016-12-30
87487   2011-02-23
87488   2017-07-03
Name: releasedate, Length: 87489, dtype: datetime64[ns]

In [79]:
# create new field minutes and change time to minutes in the field
def change_time(time):
    if time == 'Less than 1 minute':
      return 0
    time = time.replace('hrs', 'hr').replace('mins', 'min')
    my_lists = time.split('and')

    hours = 0
    minutes = 0

    for my_list in my_lists:
        my_list = my_list.strip()
        if 'hr' in my_list:
            hours = int(my_list.split('hr')[0])
        if 'min' in my_list:
            minutes = int(my_list.split('min')[0])
    return hours * 60 + minutes

In [80]:
# testing the function above

change_time('Less than 1 minute')

0

In [81]:
# creating rating field

project['rating'] = project['stars'].str.split().str[0].replace('Not', 0).astype(float).round().astype(int)

In [82]:
project['minutes'] = project['time'].apply (change_time)

In [85]:
import re
# project['number_of_ratings'] = project['stars'].str.split('star').str[1]

# project['number_of_ratings'] = int(re.sub("[^0-9]", "", project['stars'].str.split('star').str[1]))



def number_of_ratings_col(stars):
  rate = 0
  if str(stars).lower().strip() != 'not rated yet':
    rate = re.split('stars',str(stars))[1]
    rate = int(re.sub("[^0-9]", "",rate))
  else:
    rate = 0

  return rate

project['number_of_ratings'] = project['stars'].apply(number_of_ratings_col)

In [86]:
project.head()

,name,author,narrator,time,releasedate,language,stars,price,rating,minutes,number_of_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00,5,140,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00,4,788,41
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00,4,123,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00,4,676,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,4,600,181